body {
  scroll-behavior: smooth;
}
:root {
  --primary-color: rgb(29, 29, 31);
  --secondary-color: rgb(75, 174, 234);
  --first-color: rgb(68, 68, 77);
}
a {
  text-decoration: none;
}
.header-scrolled {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* header start*/
.header {
  padding: 20px 0;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}
.header img {
  height: 60px;
  width: 150px;
}
.header ul {
  background-color: rgb(52, 52, 56);
  border-radius: 90px;
  padding: 8px;
}
.header .hmenu {
  display: none;
}
.header .hmenu i {
  color: black;
  font-size: 32px;
}
/*  */
.ham-menu {
  position: absolute;
  height: 100vh;
  z-index: 999;
  width: 210px;
  top: 0;
  right: -100%;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 1s ease-in-out;
}
.menu-close {
  padding: 20px 12px;
  margin-bottom: 30px;
  width: 100%;
}
.menu-close i {
  font-size: 32px;
  float: right;
  color: black;
}
.ham-menu ol {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.ham-menu ol li a {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px;
  color: var(--primary-color);
}
/*  */
/* list hover ends*/
.header .nlist .nlink {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin-right: 20px;
  color: #fff;
  border-radius: 90px;
}
.header .nlist .nlink:hover {
  background-color: rgb(68, 68, 77);
  color: var(--secondary-color);
  border-radius: 90px;
}
.header .nlist .active {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin-right: 20px;
  color: #fff;
  border-radius: 90px;
}
.header .nlist .active {
  background-color: rgb(68, 68, 77);
  color: var(--secondary-color);
  border-radius: 90px;
}
.header .ntrail a {
  padding: 15px 40px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 90px;
  transition: 0.5s;
}
.header .ntrail a:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: black;
  border-radius: 90px;
}

/* header end*/
/*-----*/
.test {
  background-color: var(--primary-color);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  padding: 10px 25px;
  color: #fff;
}
.first {
  padding: 180px 0 90px 0;
}
.first .one {
  text-align: center;
}
.first .one h2 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: -4px;
  color: var(--primary-color);
}
.first .one p {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 0 100px;
}
/*-----*/
/*-----*/
.second {
  padding-bottom: 130px;
}
.second .contact {
  padding-bottom: 130px;
}
.second .one {
  padding: 50px 30px;
  background-color: var(--first-color);
  border-radius: 16px;
  width: 100%;
}
.second i {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}
.second h5 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.second span {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.second p {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
}
.second .cform h2 {
  text-align: center;
  margin: 50px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
}
.second .cform .fform {
  padding: 30px;
  background-color: rgb(242, 242, 240);
  margin: 0 15%;
}
.second .cform label {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  color: var(--primary-color);
}
.second .cform input {
  display: block;
  border: 1px solid rgb(208, 208, 219);
  border-radius: 4px;
  padding: 4px 8px 4px 20px;
  width: 100%;
  height: 64px;
  background-color: rgb(242, 242, 240);
}
.second .cform textarea {
  display: block;
  padding: 20px 0 0 20px;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  height: 230px;
  border: 1px solid rgb(208, 208, 219);
  background-color: rgb(242, 242, 240);
}
.second .cform button {
  border: 0;
  padding: 20px 50px;
  width: 100%;
  background-color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400px;
  transition: 0.8s;
  border-radius: 8px;
}
.second .cform button:hover {
  background-color: black;
  color: #fff;
}

/*-----*/
/*-----*/
.footer {
  padding-top: 10px;
}
.footer .one img {
  height: 45px;
  width: 100px;
  margin-right: 20px;
}

.footer .one i {
  padding: 8px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 400;
  transition: 0.5s;
  cursor: pointer;
}
.footer .one i:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.footer .item ul {
  list-style: none;
  padding: 0;
  column-gap: 30px;
}
.footer .item ul li a {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(68, 68, 77);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.footer .item ul li a:hover {
  color: var(--secondary-color);
}
@media (min-width: 300px) and (max-width: 991.98px) {
  .footer .item ul {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 991.98px) {
  .header ul {
    display: none;
  }
  .header .hmenu {
    display: block;
  }
  .header img {
    height: 40px;
    width: 90px;
  }
  .ham-menu {
    display: block;
  }
  .ntrail {
    display: none;
  }
  .first {
    padding: 150px 0 70px 0;
  }
  .first .one h2 {
    font-size: 55px;
    letter-spacing: -2px;
  }
  .first .one p {
    font-size: 16px;
    padding: 0 70px;
  }
  .second {
    padding-bottom: 70px;
  }
  .second .one {
    margin-top: 10px;
    padding: 40px 20px;
  }
  .second .cform h2 {
    font-size: 33px;
  }
  .second .cform .fform {
    margin: 0 7%;
  }
}
@media (min-width: 300px) and (max-width: 767.98px) {
  .second i {
    font-size: 22px;
  }
  .second h5 {
    font-size: 18px;
  }
  .second span {
    font-size: 14px;
  }
  .second p {
    font-size: 14px;
  }
  .second .cform label {
    font-size: 14px;
  }
}

@media (min-width: 300px) and (max-width: 571.98px) {
  .first .one h2 {
    font-size: 32px;
    letter-spacing: 0;
  }
  .first .one p {
    font-size: 14px;
    padding: 0 10px;
  }
  .second .cform h2 {
    margin: 10px;
    font-size: 28px;
  }
  .second .cform .fform {
    margin: 0;
  }
}
