:root {
  --primary-color: rgb(29, 29, 31);
  --secondary-color: rgb(75, 174, 234);
}
.modal-open {
  padding: 0px;
}
.modal.fade {
  padding: 0;
}
.modal.fade.show {
  padding: 0px;
}
.modal.fade.show .modal-dialog {
  padding: 0px;
}
.modal-body {
  padding: 0;
}
.menu-list {
  padding: 40px;
}
.menu-list img {
  margin-top: -45px;
  margin-left: -40px;
  height: 45px;
  width: 100px;
}
.menu-list ul {
  list-style: none;
  padding: 0;
}
.menu-list ul li {
  padding: 10px;
}
.menu-list ul li a {
  color: #fff;
}
/* .mblog {
  position: relative;
}
.mblog .mdropdown {
  position: absolute;
  display: none;
  padding: 10px;
}
.mblog:hover .mdropdown {
  display: block;
} */
.menu-demo {
  margin-top: 20px;
  text-align: center;
}
.menu-demo a {
  padding: 15px 40px;
  border: 2px solid #fff;
  border-radius: 90px;
  background-color: var(--primary-color);
  color: #fff;
}
